@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (max-width: 660px) {
  html body {
    align-items: unset;
    background-color: #fff !important;
  }
  
  #wrapper #quote-box {
    width: 80vw;
    border-radius: 0;
  }
    
  #wrapper #quote-box .quote-text {
    font-size: unset;
  }
  
  #wrapper #quote-box .quote-text i {
    font-size: unset;
  }

  #wrapper #quote-box .buttons {
    width: 80vw;
  }
  
  #wrapper #quote-box .buttons .button {
    margin-top: 20%;
    height: 32px;
    font-size: 0.7em;
  }

  #wrapper #quote-box .buttons .button#tweet-quote, #wrapper #quote-box .buttons .button#github-quote {
    font-size: 0.8em;
    height: 20px;
    width: 30px;
  }

  #wrapper .footer {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    font-size: 0.6em;
  }
}

@media only screen and (min-width: 660px) {
  #wrapper .footer {
    color: #fff !important;
  }

  #wrapper .footer a {
    color: #fff !important;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 340px;
  font-family: 'Poppins', sans-serif;
  background-color: #333;
  color: #333;
  overflow: hidden;
}

#quote-box {
  display: table;
  position: relative;
  padding: 40px 50px;
  width: 450px;
  border-radius: 15px;
  background-color: #fff;
}
  
#quote-box .quote-text {
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;
}

#quote-box .quote-text i {
  font-size: 1em;
}

#quote-box .quote-author {
  margin-top: 20px;
  font-size: 1em;
  text-align: right;
}

#quote-box .buttons {
  display: block;
  width: 450px;
  margin: auto;
}

#quote-box .buttons .button {
  height: 38px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #333;
  font-size: 1em;
  padding: 10px 16px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 150ms ease;
}

#quote-box .buttons .button:hover {
  opacity: 0.9;
}

#quote-box .buttons .button#tweet-quote, #quote-box .buttons .button#github-quote {
  float: left;
  padding: 5px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 10px;
  height: 30px;
  width: 40px;
}

#quote-box .buttons .button#new-quote {
  float: right;
}

.footer {
  display: block;
  text-align: center;
  margin: 15px auto 30px auto;
}

.footer a {
    font-weight: 500;
    text-decoration: none;
}